// Poppins Font

@font-face {
    font-family: PoppinsThin;
    src: url(/Font/Poppins-Thin.ttf);
}
@font-face {
    font-family: PoppinsSemiBold;
    src: url(/Font/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: PoppinsRegular;
    src: url(/Font/Poppins-Regular.ttf);
}
@font-face {
    font-family: PoppinsMedium;
    src: url(/Font/Poppins-Medium.ttf);
}
@font-face {
    font-family: PoppinsLight;
    src: url(/Font/Poppins-Light.ttf);
}
@font-face {
    font-family: PoppinsExtraLight;
    src: url(/Font/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family: PoppinsExtraBold;
    src: url(/Font/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: PoppinsBold;
    src: url(/Font/Poppins-Bold.ttf);
}
@font-face {
    font-family: PoppinsBlack;
    src: url(/Font/Poppins-Black.ttf);
}